body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px ;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height:200px; */
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    width: 33.3%;
}
li:hover{
    opacity: 0.6;
    /* background: #0066CC;
    color:#fff; */
}

.title{
    font-size: 48px;
}

.subtitle{
    font-size: 36px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.PCHands{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.judgement{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.counter{
    text-align: center;
}

.ctr_board{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.ctr_board_row{
    display: flex;
}

.ctr_title{
    width: 33.33%;
    background-color: #666 ;
    border: 1px solid #000000;
    margin: 0;
    font-size: 32px;
    color: white;
}

.ctr_board_score{
    display: flex;
}

.ctr_score{
    width: 33.33%;
    border: 1px solid #000000;
    margin: 0;
    font-size: 32px;
}

.reset{
    display: flex;
    justify-content: center;
}

.button{
    width: 150px;
    font-size: 20px;
    background-color: #ffd61a;
    border: 2px solid #ffd61a;
    color: white;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover{
    opacity: 0.6;
}